/* =================================================================
  Table of contents
  - Base + Fix Base Bootstrap
  - Header
  - Footer
  - Banner
  - Pages
================================================================= */

/* =================================================================
  Base
================================================================= */
html,
body {
    min-height: 100vh;
    min-width: 100vw;
    width: 100%;
    height: 100%;
}

.hidden {
    overflow: hidden;
}

.wrapper,
.wrapper-container {
    height: 100%;
    width: 100%;
}

a {
    cursor: pointer;
}

li {
    list-style: none;
}

i {
    line-height: 1;

}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.title-1 {
    font-weight: 500;
    text-transform: uppercase;
}

.btn-showmore {
    font-weight: 500;
    background-color: var(--primary-color);
    border: 2px solid var(--white);
    color: var(--white);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-transform: uppercase;
    padding: 12px 44px;
}

.btn-showmore:hover,
.btn-showmore:focus,
.btn-showmore:active {
    background-color: var(--white);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

/* preloader */

#preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: center;
}

#preloader.close {
    display: none;
}

#preloader .spinner-border {
    width: 150px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

[class*="page-"] {
    width: 100%;
    height: 100%;
}

/* =================================================================
  Header
================================================================= */
.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.user-header {
    height: 70px;
    display: flex;
    align-items: center;
}

.user-header-container-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-login {
    color: var(--primary-color);
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin: 20px 0;
}

.btn-back {
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.btn-back:hover,
.btn-back:focus,
.btn-back:focus-visible,
.btn-login:hover,
.btn-login:focus,
.btn-login:focus-visible {
    color: var(--primary-color);
    outline: none;
    box-shadow: none;
}

.btn-login .icon-user {
    border-radius: 9999px;
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -o-border-radius: 9999px;
}

.btn-back {
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

/* =================================================================
  Footer
================================================================= */
.footer .title-1 {
    position: relative;
    margin-bottom: 7px;
}

.footer .title-1::before {
    content: "";
    display: block;
    position: absolute;
    left: -45px;
    top: 0;
    width: 30px;
    height: 30px;
    transform: translateY(-25%);
    -webkit-transform: translateY(-25%);
    -moz-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    -o-transform: translateY(-25%);
}

.footer-container-inner {
    padding: 35px 0;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer ul {
    padding-left: 3rem;
}

.footer .div-detail {
    font-weight: 400;
}

.footer .div-detail li {
    margin-bottom: 10px;
}

.footer .div-detail .title-1::before {
    background-image: url("../icon/location.svg");
}

.footer .div-email .title-1::before {
    background-image: url("../icon/message.svg");
}

.footer .div-phone .title-1::before {
    background-image: url("../icon/call.svg");
}

.footer .div-fanpage .title-1::before {
    background-image: url("../icon/facebook.svg");
}

.footer .div-location .title-1::before {
    background-image: url("../icon/location-pin.svg");
}

.footer .div-fanpage .title-1,
.footer .div-location .title-1 {
    display: flex;
    align-content: center;
}

.footer .div-fanpage .title-1::before,
.footer .div-location .title-1::before {
    position: relative;
    left: 0;
    margin-right: 18px;
}

.footer .div-contact li:first-child {
    margin-bottom: 45px;
}

/* =================================================================
  Banner
================================================================= */

.banner-img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner-img-inner {
    position: absolute;
    top: 20%;
    left: 6%;
    width: 36%;
}

.banner-detail {
    width: 100%;
}

.banner-detail h1 {
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    color: var(--primary-color);
}

.banner-detail p {
    font-weight: 500;
    font-size: 18px;
    color: var(--white);
}

/* Carousel Bootstrap5 */
.banner .carousel-indicators {
    margin-bottom: 27px;
}

.banner .carousel-indicators button {
    width: 13px;
    height: 13px;
    border: none;
    border-radius: 9999px;
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -o-border-radius: 9999px;
    background-color: var(--white);
    opacity: 1;
}

.banner .carousel-indicators .active {
    width: 24px;
    background-color: var(--primary-color);
    border: 1px solid var(--white);
}

/* =================================================================
  Pages
================================================================= */
/* page-home */
.page-home .banner-img {
    height: 30vh;
    min-height: 385px;
}

.page-home .banner-img-inner {
    min-width: 520px;
}

.page-home.user-logged .banner-img-inner {
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.page-home.user-logged .banner-img {
    height: 60vh;
    min-height: 690px;
}

.page-home.user-logged .banner-detail h1 {
    font-size: 70px;
}

.page-home.user-logged .banner-detail p {
    font-size: 20px;
}

.studytest {
    background-color: var(--secondary-color);
}

.studytest-img {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.studytest-img::before {
    content: '';
    background-image: url('../image/gray-img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    /* right: 0;
  bottom: 0; */
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

.studytest-detail-wrap {
    height: 100%;
    position: relative;
}

.studytest-detail {
    position: relative;
}

.studytest-detail .btn-showmore {
    margin-top: 8px;
}

.studytest-tile {
    color: var(--primary-color);
    font-weight: 500;
    /* font-size  : 30px; */
    font-size: 2em;
    margin-bottom: 14px;
    text-transform: uppercase;
}

.studytest-text {
    margin: 14px 0;
}

.studytest-item {
    margin-left: 0;
    margin-right: 0;
}

.studytest-item-img {
    padding: 0;
}

.studytest-style-1 {
    margin-bottom: 60px;
}

.studytest-style-1 .studytest-img {
    /* width: 228px; */
    height: 220px;
}

.studytest-style-1 .studytest-detail-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.studytest-style-1 .studytest-detail-wrap img {
    width: 58%;
    margin-bottom: 18px;
}

/*  */
.studytest-style-2 .studytest-img {
    height: 550px;
}

.studytest-style-2 .studytest-detail-wrap {
    /* padding-top: 110px; */
    padding: 15% 0;
}

.studytest-style-2 .studytest-detail {
    width: 68%;
    /* padding-left: 27px; */
    /* margin-left: 40px; */
    padding-left: 3.8%;
    margin-left: 5.7%;
}

.studytest-style-2 .studytest-detail::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    /* height: 191px; */
    height: 106%;
    width: 0px;
    border: 3px solid var(--primary-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.studytest-style-2 .studytest-item:nth-child(even) .studytest-item-img {
    order: 2;
}

.studytest-style-2 .studytest-detail-wrap .bg-img {
    position: absolute;
    right: 33px;
    bottom: 12px;
}

/* page-exams */
.page-exams .banner-img {
    height: 40vh;
    min-height: 470px;
}

.list-exams-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 0;
}

.list-exams-title.title-1 {
    font-size: 2em;
    padding: 30px 0;
    text-align: center;
    color: var(--primary-color);
}

.list-exams-item {
    width: 360px;
    height: 250px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: var(--white);
    margin-bottom: 30px;
}

.list-exams-item .card-img-overlay {
    top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0px 0px 5px 5px;
}

.list-exams-item .card-title {
    font-size: 18px;
}

.list-exams-item .btn-showmore {
    padding: 10px 32px;
    text-transform: inherit;
}

.edit-pagination {
    margin: 0 15px;
}

.edit-pagination .page-link {
    background-color: transparent;
}

.edit-pagination .current-page {
    color: #000000;
    background-color: var(--white);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}

/* Login page */
.page-login {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.block-login {
    width: 100%;
    height: 100%;
    margin: 0;
}

.login-left {
    /* flex: 0 0 auto; */
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(195, 34, 112, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.login-right {
    /* flex: 0 0 auto; */
    background-color: #F6F6F6;
    /* padding-left : 52px; */
    /* padding-top  : 86px; */
    padding-left: 3.6%;
    padding-right: 3.6%;
    padding-top: 6%;
}

.login-middle {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 83px;
    margin-bottom: 68px;
    text-align: center;
    /* font-weight: 500; */
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.login-middle img {
    width: 428px;
    height: 104px;
}

.login-middle p {
    margin: 38px 0;
}

.div-input {
    position: relative;
    display: flex;
    background: var(--white);
    /* Xám */
    border: 1px solid var(--gray);
    border-radius: 10px;
    padding: 10px 20px;
}

.div-input input {
    padding-left: 0;
}

.div-input input,
.div-input input:hover,
.div-input input:focus,
.div-input input:focus-visible,
.div-input input:active {
    border: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

.div-input span {
    color: var(--gray);
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.div-input .btn-showpass {
    font-size: 25px;
    margin-right: 0;
}

.div-input ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--gray);
    font-weight: 500px;
    font-size: 18px;
    /* opacity : 1; */
    /* Firefox */
}

.div-input :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--gray);
}

.div-input ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--gray);
}

.block-login .btn-login {
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    box-sizing: border-box;
    /* Tím */
    color: var(--white);
    background-color: var(--primary-color);
    /* Trắng */
    border: 2px solid var(--white);
    border-radius: 10px;
    text-transform: inherit;
    text-align: center;
    justify-content: center;
}

.forgot-password-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22222;
    /* identical to box height */
    color: #000000;
}

.forgot-password-link:hover,
.forgot-password-link:focus,
.forgot-password-link:active {
    color: var(--primary-color);
}

.resend {
    color: var(--primary-color);
}

/* otp */
#otp-form .login-middle {
    margin-bottom: 45px;
}

.otp-inputs .inputs {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.otp-inputs input {
    width: 62px;
    height: 55px;
    border: 1px solid var(--gray);
    border-radius: 10px;
    text-align: center;
}

.otp-inputs input:last-child {
    margin-right: 0;
}

/* reset-pass-success */
.re-pass-success .login-middle {
    margin-bottom: 50px;
}

.div-success {
    color: var(--primary-color);
    font-size: 100px;
    text-align: center;
    margin-bottom: 70px;
}

/* register-form */
#register-form .login-middle {
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-warning {
    border: 1px solid rgb(255, 41, 41) !important;
}

.form-outline {
    position: relative;
    margin-bottom: 36px;
}

.error-mes {
    position: absolute;
    left: 10px;
    top: 104%;
    color: rgb(255, 41, 41) !important;
    font-size: 13px !important;
    font-weight: 500;
}
