/**================ Alter of Template ================*/

@font-face {
    font-family: "Quicksand";
    src: url("../font/static/Quicksand-Bold.woff") format("woff"),
        url("../font/static/Quicksand-Bold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Quicksand";
    src: url("../font/static/Quicksand-SemiBold.woff") format("woff"),
        url("../font/static/Quicksand-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Quicksand";
    src: url("../font/static/Quicksand-Medium.woff") format("woff"),
        url("../font/static/Quicksand-Medium.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Quicksand";
    src: url("../font/static/Quicksand-Regular.woff") format("woff"),
        url("../font/static/Quicksand-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Quicksand";
    src: url("../font/static/Quicksand-Light.woff") format("woff"),
        url("../font/static/Quicksand-Light.woff2") format("woff2");
    font-weight: 300;
    font-display: swap;
}

/*  */
:root {
    --primary-color: #c32270;
    --secondary-color: #e1b7c5;
    /* --secondary-color-2: rgba(10, 31, 119, 0.8); */
    --primary-background: #e5e5e5;
    --white: #ffffff;
    --gray: #BABABA;
}

body {
    font-family: "Quicksand";
    font-size: 15px;
    font-weight: 400;
    line-height: 1.25;
    background-color: var(--primary-background);
    color: #000000;
    overflow-x: hidden;
    text-align: justify;
}

[class*="icon-"] {
    width: 25px;
    height: 25px;
    margin-right: 18px;
}

.background-white {
    background-color: var(--white);
    color: var(--primary-color);
}

.background-primary {
    background-color: var(--primary-color);
    color: var(--white);
}

.background-primary a {
    color: var(--white);
}
